---

- hosts: localhost 
  name: Arch base install 
  gather_facts: false
  tasks:

    - name: Get device name of hard disk
      shell: lsblk |grep disk |awk '{print $1}'
      register: harddisk
      ignore_errors: True
   
    - name: Create the book partition, size 250MB
      parted:
        device: /dev/{{ harddisk.stdout }}
        number: 1
        state: present
        part_end: 250MiB
